html body {
    padding: 0px;
    margin:0px;
    font-family: 'Rubik', sans-serif;
}

header {
    background: #145887;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    color: white;
}

header div a {
    color: white;
    text-decoration: none;
}

header div a:hover {
    color: #e95095;
}

header div a::after {
    color: white;
}

header div a i {
    margin-right: 5px;
    margin-top: -5px;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #f2c600;
    padding: 0px 60px;
}

.navDiv {
    display: flex;
    justify-content: space-between;
}

.navLinks {
    padding: 40px;
    color: #145887;
}

.navLinks:hover {
    color: #e95095;
    cursor: pointer;
}

.logo {
    width:80px;
    margin-top: 15px;
}

.quote {
    border: 2px solid #145887;
    font-style: normal;
    text-transform: none;
    color: #145887;
    padding: 10px 20px 10px 20px;
    border-radius: 1.8em;
}

.quote:hover {
    background-color: #145887;
    color: white;
    cursor: pointer;
}

.quoteDiv {
    padding-top: 40px;
}

/* MAIN */

main {
    color: white;
    background: #145887;
    text-align: center;
}