/* General tags */


html body {
    padding: 0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 3.0rem;
    line-height: 1.2;
    letter-spacing: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.main {
    color: white;
    background: #145887;
    text-align: center;
    padding: 40px;
}

.w-bg {
    background: #ffffff;
    color: #145887;
}


.container {
    padding-left: 80px;
    padding-right: 80px;
}


/* Nav */

header {
    background: #145887;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    color: white;
}

header div a {
    color: white;
    text-decoration: none;
}

header div a:hover {
    color: #e95095;
}

header div a::after {
    color: white;
}

header div a i {
    margin-right: 5px;
    margin-top: -5px;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #f2c600;
    padding: 0px 60px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.navDiv {
    display: flex;
    justify-content: space-between;
}

.navDivMobile {
    display: none;
}

.quoteDivMobile {
    display: none;
}

.mobileNavDropdown {
    display: none;
}

.navLinks {
    padding: 40px;
    color: #145887;
    font-weight: 600;
}

.navLinks:hover {
    color: #e95095;
    cursor: pointer;
}

.active {
    background-color: #145887;
    color: #ffffff;
}

.logo {
    width: 80px;
    margin-top: 15px;
}

.quote {
    border: 2px solid #145887;
    font-style: normal;
    text-transform: none;
    color: #145887;
    padding: 10px 20px 10px 20px;
    border-radius: 1.8em;
}

.quote:hover {
    background-color: #145887;
    color: white;
    cursor: pointer;
}

.quoteDiv {
    padding-top: 40px;
}

/* MAIN */

.hero-img {
    width: 60%;
    margin: 40px 0px;
}

/* services */

.services-list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.services-list div {
    flex-grow: 1;
    width: 33%;
}

.services-list div ul li {
    list-style-type: none;
}

.services-list div ul li i {
    color: #e95095;
    margin-right: 10px;
}

/* Gas section */
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

}

.mobile-row {
    display: none;
}

.col {
    grid-column: span 2;
    grid-row: span 1;
    height: 400px;
}

.col>i {
    font-size: 40px;
}

.service-img {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.main-grid {
    margin: 0px;
    padding: 0px;
}

.info-grid {
    background: #145887;
    padding: 0px 40px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.yellow-bg {
    background: #f2c600;
    color: #145887;
}

/* Footer */
footer {
    text-align: center;
    background-color: #145887;
    color: #ffffff;
    padding-top: 60px;
}

footer p {
    margin-bottom: 0px;
}

/* Brands and customers */

.brands {
    text-align: center;
}

.brands img {
    width: 200px;
    height: 100px;
    margin: 20px;
}

.reviews {
    text-align: center;
    background-color: #145887;
    color: #ffffff;
    padding-top: 40px;
}

.owl-h {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.owl-p {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

.owl-location {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

/* Contact */

form input,
form textarea {
    width: 100%;
    margin: 5px;
    font-size: 16px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    border-radius: 0.3rem;
    border: 2px #145887 solid;
}

form input:focus,
form textarea:focus {
    border: none;
    outline: 2px #e95095 solid;
}

.submit {
    font-size: 16px;
    font-weight: 600;
    background: #145887;
    color: #ffffff;
}

.submit:hover {
    font-size: 16px;
    font-weight: 600;
    border: #e95095 2px solid;
    background: #e95095;
    transition: 0.3s;
}

/* Media Queries */

@media only screen and (min-width:1750px) {

    /* Services images */
    .col {
        height: 700px;
    }

    .col>i {
        font-size: 50px;
    }

    .col>p {
        font-size: 26px;
    }

    .col>h1 {
        font-size: 34px;
    }

}

@media only screen and (min-width:1451px) {

    /* Services images */
    .col {
        height: 600px;
    }

    .col>i {
        font-size: 40px;
    }

    .col>p {
        font-size: 18px;
    }

    .col>h1 {
        font-size: 26px;
    }

    .container {
        padding-left: 180px;
        padding-right: 180px;
    }

}

@media only screen and (min-width:1450px) {

    /* Services images */
    .col {
        height: 500px;
    }

}

@media only screen and (min-width:1024px) {
    .mobileNavDropdown {
        position: absolute;
        bottom: -211px;
        left: 0px;
        width: 100%;
        background: #f2c600;
        text-align: center;
    }

}

@media only screen and (max-width:1024px) {

    /* Nav */

    nav {
        position: sticky;
    }

    .navDiv {
        display: none;
    }

    #navButton {
        cursor: pointer;
    }

    .navDivMobile {
        display: block;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        color: #145887;
        font-size: 30px;
        width: 33%;
    }

    .showNav {
        display: inline;
    }

    .mobileNavDropdown {
        position: absolute;
        bottom: -211px;
        left: 0px;
        width: 100%;
        background: #f2c600;
        text-align: center;
    }

    .mobileNavDropdown>ul {
        padding-inline-start: 0px;
    }

    .mobileNavDropdown>ul>li {
        list-style: none;
        padding: 20px;
        color: #ffffff;
        cursor: pointer;
    }

    .quoteDiv {
        width: 33%;
    }

    .quoteDiv>.quote {
        position: absolute;
        right: 55px;
        top: 27px;
    }

    .logoDiv {
        width: 33%;
    }

    .logo {
        padding-bottom: 15px;
    }

    /* Buliet points */
    .services-list {
        display: inline-block;
    }

    .services-list div {
        width: 100%;
    }

    .services-list div ul {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .services-list div ul li {
        text-align: left;
    }

    .services-list div ul li i {
        color: #e95095;
        margin-right: 10px;
    }

    html,
    body {
        overflow-x: clip;
    }

}

@media only screen and (min-width:656px) and (max-width:1023px) {

    /* Services images */
    .col {
        height: 300px;
    }

    .col>i {
        font-size: 30px;
    }

    .col>p {
        font-size: 14px;
        line-height: normal;
    }

    .col>h1 {
        font-size: 20px;
    }

}

@media only screen and (max-width:656px) {

    /* Services */

    .pc-row {
        display: none;
    }

    .mobile-row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }

    .quoteDiv {
        display: none;
    }

    /* Nav */

    .navDivMobile {
        justify-content: right;
    }

    .quoteDivMobile {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }

    .logo {
        width: 50%;
    }

    /* contact */
    form input,
    form textarea {
        padding: 10px 10px;
        margin: 5px -10px;
    }
}

@media only screen and (max-width:537px) {

    /* Nav */

    nav,
    header {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Services images */

    .col>i {
        font-size: 30px;
    }

    .col>p {
        font-size: 16px;
        line-height: normal;
    }

    .col>h1 {
        font-size: 20px;
    }

}

@media only screen and (max-width:400px) {

    h1 {
        font-size: 24px;
        line-height: normal;
    }

    p {
        font-size: 14px;
        line-height: 16px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

}